@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #1a0dab;
    --secondary: #34A853;
    --tertiary: #FBBC05;
    --quaternary: #EA4335;
    --floor: #f2f2f2;
    --light: #ffffff;
    --dark: #202124;
  }

  li,
  Link,
  a {
    @apply cursor-pointer hover:underline;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth !important;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

strong, b {
  font-weight: 700;
}